* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#quiz-main {
    display: flex;
    justify-content: space-between;
    align-content: stretch;
}

.main-container {
    width: 50%;
    height: 500px;
    text-align: center;
}

#highscores {
    width: 10%;
    justify-self: right;
}

#timer {
    width: 10%;
}

.question-div {
    text-align: left;
    justify-self: left;
}

ol {
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.answer-set {
    width: fit-content;
    margin-bottom: 3px;
    padding-left: 3px;
    cursor: pointer;
}

.quiz-button {
    background-color: blueviolet;
    color: white;
    border: 1px solid black;
    border-radius: 4px;
}

.quiz-button:hover {
    background-color: rgb(179, 114, 179);
}

.quiz-button:active {
    border: 3px solid blue;
}

.user-message {
    border-top: 3px black;
    font-style: italic;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: left;
}

.submit-button {
    margin: 5px;
    padding: 3px;
}

.input-box {
    margin: 5px;
}

.high-scores {
    background-color: rgb(206, 179, 214);
}

.highscores-buttons-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    padding: 30px;
    clear: both;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}